.container{
	max-width:100%;
	max-height: 100%;
	background-color: #A059AB;
}

.btn-food {
	background-color: #DAC0DD;
	color: black;
	align-items: center;

}

.card-body{
	background-color: #DAC0DD;
}

.body {
  position: relative;
}

.form-row{
	background-color: #DAC0DD;
}

.navbar-brand{
	width: 20%;
	height: 20%;
}

.img-logo{
	width: 30%;
	height: 30%;
}

h4, small{
	color:black;
}
/*.container {
    padding: 20px 40px 30px;
    display: flex;
    background-color: grey;
}*/

h1 {
/*    padding-left: 270px;
    padding-top: 90px;*/
    align-content: center;
    margin-left: 20%;
    color: white;
    font-family: "Bodoni MT" ;
    font-weight: bold;
}

.container-fluid {
    background-color: lightgray;
}

#banner_abt {
    background-image: linear-gradient(to right, #87877c, #5f5f5f);
    padding: 10px;
}

.navbar {
    /*background: linear-gradient(to bottom, #0033cc 47%, #ff99cc 107%);*/
    /*background-color: #4e4e4e;*/
    /*background-color: #BA77C5;*/
    background-color: #A059AB;
    border-bottom: solid;
}

.vertical-alignment-helper {
	display:table;
	height: 100%;
	width: 75%;
	margin-left: 12%;
	pointer-events:none;
}


.vertical-align-center {
/* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}

.card-title{
	align-content: center;
}

.form-inline{
	padding-top:15px;
	padding-left: 100px;
}

.btn {
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	background-color: #4e4e4e;
	color: white;
}

.row{
	padding-left: 50px;
	background-color: #EBCCF0;
}

